@{
    ViewData["Title"] = "Home";
}

    <div style="text-align: center;">
        <img src="VerifiedCredentialExpert-icon.png" class="ninja-img" />
        <h1>Azure AD B2C + Verified ID issuance and verifier sample</h1>

        <p>@ViewData["message"]</p>

        <button type="button" id="idIssue" class="button" onclick="location.href='@Url.Action("Issuer", "Home")'">Issue Credential</button>
        <button type="button" id="idVerify" class="button" onclick="location.href='@Url.Action("Verifier", "Home")'">Verify Credential</button>

        <br/><br/>
        <div class="normal-text">
            <ul>
                <li>To issue a Verified ID credential, you need to do click Sign-in, then Sign-up, to create your B2C account first as the claims in the Verified ID credential is taken from the account.</li>
                <li>To verify a Verified ID credential, you don't need to be signed in, but you have to have a Verified ID credential. Just click <a href="'@Url.Action("Verifier", "Home")'">Verify Credential</a></li>
                <li>When you have a Verified ID credential, you can present it to the B2C sign-in policy and use it for authentication.</li>
                <li>If the sample is configured to use Face Check, then you the verification request will ask you for a liveness check for every presentation.</li>
                <li>The <a href="@Url.Action("SensitivePage", "Home")">Page Requiring MFA</a> requires that the authenticated user performs a Face Check for high assurance verification. 
                    The app doesn't need to be configured to use Face Check as the B2C MFA Custom Policy will enforce it.</li>
            </ul>
        </div>
    </div>