@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

            <div style="text-align: center;">
                <img src="VerifiedCredentialExpert-icon.png" height=200px; />
                <h1>Verifiable Credential Expert Issuance and Verifier Sample</h1>

                <p style="text-align:left;">
                    This sample issues a Verified ID credential using claims from the signed in user. For this to work, 
                    you need to add <i>family_name</i> and <i>given_name</i> under <strong>Token configuration</strong>
                    in the app registration for appid 
        <a href="https://entra.microsoft.com/#view/Microsoft_AAD_RegisteredApps/ApplicationMenuBlade/~/TokenConfiguration/appId/@ViewData["AzureAd:ClientId"]/isMSAApp~/false">@ViewData["AzureAd:ClientId"]</a>
                </p>
                @if (User.Identity.IsAuthenticated) {
                <br/>
                <p style="text-align:left;">
                    username: @ViewData["username"]
                    <br/>
                    name: @ViewData["name"]
                    <br/>
                    given_name: @ViewData["given_name"]
                    <br/>
                    family_name: @ViewData["family_name"]
                </p>

                }

            </div>